@import url("https://fonts.googleapis.com/css2?family=Radley&family=Roboto&display=swap");

* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-weight: 200;
  list-style: none;
}

body {
  background-color: #fbf8ea;
}

a {
  font-size: 20px;
  color: #4a696b;
  text-decoration: none;
}

.image {
  border-radius: 80px;
  float: right;
  margin-right: 10%;
  margin-top: 10%;
}

.text {
  height: 100%;
  width: 100%;
  float: left;
  left: 5%;
  top: 5%;
  font-size: 14;
  color: #4a696b;
  text-decoration: none;
}

h2 {
  font-size: 300%;
}

h3 {
  font-size: 220%;
}

.article_name,
.subheading,
.article_name {
  position: absolute;
  left: 5%;
}

.article_name {
  position: absolute;
  top: 20%;
}

.subheading {
  position: absolute;
  top: 25%;
}

.article_text {
  width: 40%;
  position: absolute;
  top: 35%;
  left: 5%;
  text-align: justify;
}

.suggested_lesson {
  color: #fbf8ea;
  text-decoration: none;
  height: 100%;
  width: 100%;
  position: absolute;
  left: 12%;
  top: 70%;
}

.suggested_lesson li {
  list-style: none;
  display: inline-block;
  margin-left: 3%;
}

.suggested_text {
  border-radius: 25px;
  background-color: #4a696b;
  padding: 3% 3%;
  width: 60%;
  margin-top: 0%;
  position: center;
  text-align: justify;
}

.previous {
  position: absolute;
  top: 5%;
  left: 5%;
}

.next {
  position: absolute;
  top: 5%;
  right: 5%;
}

@media screen and (max-width: 600px) {
  img {
    position: relative;
  }
}
